body 
{
    margin: 0;
}
.top-bar
{
    background-color: black;
    color:#fff;
    text-align: center;
    padding: 1px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logo-navbar
{
    width: auto;
    text-align: center;
}
#logo-div
{
    padding-left: 24%;
    padding-bottom: 4px;
    max-width: 50%;
    height: auto;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    color: #dddddd;
}
li
{
    display: inline-block;
}
li a
{
    color: #766363;
    padding: 16px;
    text-decoration: none;
}
li a:hover:not(.active)
{
    color: #fff;
    background-color: #796f6f;
}
li:nth-child(2) {
    padding-left: 15px;
}
.active 
{
    color: #fff;
    background-color: #796f6f;
    border-radius: 20px;
}
.order-online
{
    display: inline-block;
    background-color: #ff0303;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.coffeebanner img 
{
    width: 100%;
    height: auto;
}
.welcome
{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 60px;
    text-align:justify;
}
.welcome h1
{
    text-align: center;
}
.welcome p
{
    color: #6e6d6d;
    padding-bottom: 70px;
    line-height: 3;
    border-bottom: 2px solid #aca9a9;
}
.bottom
{
    padding: 20px;
    padding-left: 50px;
    padding-right: 220px;
    display: flex;
    background-color: #8d6161;
    justify-content: space-between;
}
.form 
{
    border: 1px solid #fff;
    padding: 10px;
    background-color: #fff;
    width: 500px;
    border-radius: 20px;
}
.form label,.form input 
{
    width: 80%;
    color: black;
    display: block;
    margin: 20px;
}
.form button 
{
    background-color: #c60909;
    color: white;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
}
.form button:hover 
{
    background-color: #bd0b0b;
}
footer 
{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1px;
}
table 
{
    width: 100%; /* Adjust the table width as needed */
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc; /* Add borders to the table cells */
    padding: 8px; /* Add some padding to the cells for better spacing */
    text-align: left; /* Align table data to the left */
}

th {
    font-weight: bold; /* Make the header cells bold */
    background-color: #f2f2f2; /* Add a background color to header cells */
}
