body 
{
    margin: 0;
}
.top-bar
{
    background-color: black;
    color:#fff;
    text-align: center;
    padding: 1px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: fixed;
    top: 0;
    width: 100%;
}
.logo-navbar
{
    width: auto;
    text-align: center;
}
#logo-div
{
    padding-left: 24%;
    padding-bottom: 4px;
    max-width: 50%;
    height: auto;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    color: #dddddd;
}
li
{
    display: inline-block;
}
li a
{
    color: #766363;
    padding: 16px;
    text-decoration: none;
}
li a:hover:not(.active)
{
    color: #fff;
    background-color: #796f6f;
}
li:nth-child(2) {
    padding-left: 15px;
}
.active 
{
    color: #fff;
    background-color: #796f6f;
    border-radius: 20px;
}
.order-online
{
    display: inline-block;
    background-color: #ff0303;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.coffeebanner img 
{
    width: 100%;
    height: auto;
}
.welcome
{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    text-align:justify;
}
.welcome h1
{
    text-align: center;
}
.welcome p
{
    color: #6e6d6d;
    padding-bottom: 70px;
    line-height: 3;
    border-bottom: 2px solid #aca9a9;
}
.bottom
{
    padding: 20px;
    padding-left: 50px;
    padding-right: 220px;
    display: flex;
    background-color: #8d6161;
    justify-content: space-between;
}
.form 
{
    border: 1px solid #fff;
    padding: 10px;
    background-color: #fff;
    width: 500px;
    border-radius: 20px;
}
.form label,.form input 
{
    width: 80%;
    color: black;
    display: block;
    margin: 13px;
}
.form button 
{
    background-color: #c60909;
    color: white;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
}
.form button:hover 
{
    background-color: #bd0b0b;
}
.major-items
{
    padding: 50px;
    padding-right: 200px;
    padding-left: 200px;
    text-align: center;
}
footer 
{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1px;
}
table 
{
    width: 100%;
    border-collapse: collapse;
}
td
{
    text-align: center;
    border: 2px solid #fa0202;
}
td p
{
    padding: 10px;
}
th 
{
    font-weight: bold;
    background-color: #f2f2f2;
}
#table-head img 
{
    max-width: 250px; /* Set a maximum width for the images */
    max-height: 250px; /* Set a maximum height for the images */
}
#about-line
{
    padding: 10px;
}
#top
{
    background-color: #c60909;
    padding: 29px;
}
#lounge 
{
    position: relative;
}

.image-container
 {
    position: relative;
    display: inline-block;
    opacity: 1;
    padding-left: 200px;
    padding-right: 200px;
    transition: opacity 0.5s ease;
}

.image-container img
{
    max-width: 100%;
    max-height: auto;
}

.text-overlay 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.image-container:hover 
{
    opacity: 0.7;
}

.image-container:hover .text-overlay 
{
    opacity: 1;
}
#lounge h1
{
    text-align: center;
}
#lounge p
{
    padding-left: 200px;
    padding-right: 200px;
    text-align:justify;
    color: #6e6d6d;
    line-height: 3;
}
